@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    /*background: #2E3235;*/

    /*background: rgb(22, 22, 22);*/
}
html, body {
    height: 100%;
    background: #2E3235;
    color: #2E3235;
}
#root {
    height: 100%;
}
